
    <header>
        <h1><u>About Us</u> </h1>
    </header>
    
    <nav>
        <!-- Navigation menu if applicable -->
    </nav>

    <main>
        <section id="mission">
            <h2>Our Mission</h2>
            <p>At BookStore, our mission is to provide book lovers with a wide range of high-quality books that inspire, educate, and entertain. We are committed to promoting a love for reading and fostering a sense of community among our customers.</p>
        </section>

        <section id="offerings">
            <h2>What We Offer</h2>
            <p>Explore our diverse collection of books, including bestsellers of comics & programming books  and more. We also offer a cozy reading environment in our bookstore, where you can immerse yourself in the world of literature.</p>
        </section>

        <section id="team">
            <h2>Our Team</h2>
            <p>Meet the passionate team behind Bookstore . We are avid readers and book enthusiasts who are dedicated to curating an exceptional selection of books for our customers. Our team members bring a wealth of knowledge and a shared passion for storytelling.</p>
        </section>
    </main>

   
